﻿@using DataAccess.Models.NewsModels;
@using System.Net;
﻿@{
    ViewData["Title"] = "Tin tức";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model NewsViewModel
@section scripts {
    <script>
        $(document).ready(function () {
            var content = '@Html.Raw(WebUtility.HtmlDecode(@Model?.NewsContent))';
            $("#sumcontent").html(content)
        });
    </script>
}
<!--================Breadcrumb Area =================-->
<section class="breadcrumb_area blog_banner_two">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle f_48">Chi tiết bài viết</h2>
            <ol class="breadcrumb">
                <li><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                <li><a asp-controller="news" asp-action="index">Tin tức</a></li>
                <li class="active">Tin tức chi tiết</li>
            </ol>
        </div>
    </div>
</section>
<!--================Breadcrumb Area =================-->
<!--================Blog Area =================-->
<section class="blog_area single-post-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 posts-list">
                <div class="single-post row">
                    <div class="col-lg-12">
                        <div class="feature-img">
                            <img class="img-fluid" src="https://localhost:7204/Avatar/@Model.ImgCode" alt="Feature Image">
                        </div>
                    </div>
                    <div class="col-lg-3  col-md-3">
                        <div class="blog_info text-right">
                            <div class="post_tag">
                                <a href="#">Du lịch,</a>
                                <a href="#">Dịch vụ,</a>
                                <a href="#">Vũng Tàu,</a>
                                <a href="#">Giá rẻ</a>
                            </div>
                            <ul class="blog_meta list_style">
                                <li><a href="#">@Model.Source<i class="lnr lnr-user"></i></a></li>
                                <li><a href="#">@Model.SysDate<i class="lnr lnr-calendar-full"></i></a></li>
                                <li><a href="#">1.2M Views<i class="lnr lnr-eye"></i></a></li>
                                @*                                 <li><a href="#">06 Comments<i class="lnr lnr-bubble"></i></a></li> *@
                            </ul>
                            <ul class="social-links">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-github"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 blog_details">
                        <h2>@Model.Title</h2>
                        <p class="excert">
                            @Model.SumContent
                        </p>

                    </div>
                    <div class="col-lg-12">
                        <div class="quotes">
                            @Model.SumContent
                        </div>
                        <div class="row">
                            <div id="sumcontent" class="col-12">
                            </div>
                        </div>
                    </div>
                </div>
                @* <div class="navigation-area">
                <div class="row">
                <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                <div class="thumb">
                <a href="#"><img class="img-fluid" src="~/image/blog/prev.jpg" alt=""></a>
                </div>
                <div class="arrow">
                <a href="#"><span class="lnr text-white lnr-arrow-left"></span></a>
                </div>
                <div class="detials">
                <p>Bài trước</p>
                <a href="#"><h4>Tuần trăng mật tại Phú Quốc</h4></a>
                </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                <div class="detials">
                <p>Bài tiếp theo</p>
                <a href="#"><h4>Nghỉ dưỡng đẳng cấp với top 12 resort view đồi thông tại Đà Lạt</h4></a>
                </div>
                <div class="arrow">
                <a href="#"><span class="lnr text-white lnr-arrow-right"></span></a>
                </div>
                <div class="thumb">
                <a href="#"><img class="img-fluid" src="~/image/blog/next.jpg" alt=""></a>
                </div>
                </div>
                </div>
                </div> *@
                @* <div class="comments-area">
                <h4>05 bình luận</h4>
                <div class="comment-list">
                <div class="single-comment justify-content-between d-flex">
                <div class="user justify-content-between d-flex">
                <div class="thumb">
                <img src="~/image/blog/c1.jpg" alt="">
                </div>
                <div class="desc">
                <h5><a href="#">Emilly Blunt</a></h5>
                <p class="date">December 4, 2017 at 3:12 pm </p>
                <p class="comment">
                Never say goodbye till the end comes!
                </p>
                </div>
                </div>
                <div class="reply-btn">
                <a href="" class="btn-reply text-uppercase">reply</a>
                </div>
                </div>
                </div>
                <div class="comment-list left-padding">
                <div class="single-comment justify-content-between d-flex">
                <div class="user justify-content-between d-flex">
                <div class="thumb">
                <img src="~/image/blog/c2.jpg" alt="">
                </div>
                <div class="desc">
                <h5><a href="#">Elsie Cunningham</a></h5>
                <p class="date">December 4, 2017 at 3:12 pm </p>
                <p class="comment">
                Never say goodbye till the end comes!
                </p>
                </div>
                </div>
                <div class="reply-btn">
                <a href="" class="btn-reply text-uppercase">reply</a>
                </div>
                </div>
                </div>
                <div class="comment-list left-padding">
                <div class="single-comment justify-content-between d-flex">
                <div class="user justify-content-between d-flex">
                <div class="thumb">
                <img src="~/image/blog/c3.jpg" alt="">
                </div>
                <div class="desc">
                <h5><a href="#">Annie Stephens</a></h5>
                <p class="date">December 4, 2017 at 3:12 pm </p>
                <p class="comment">
                Never say goodbye till the end comes!
                </p>
                </div>
                </div>
                <div class="reply-btn">
                <a href="" class="btn-reply text-uppercase">reply</a>
                </div>
                </div>
                </div>
                <div class="comment-list">
                <div class="single-comment justify-content-between d-flex">
                <div class="user justify-content-between d-flex">
                <div class="thumb">
                <img src="~/image/blog/c4.jpg" alt="">
                </div>
                <div class="desc">
                <h5><a href="#">Maria Luna</a></h5>
                <p class="date">December 4, 2017 at 3:12 pm </p>
                <p class="comment">
                Never say goodbye till the end comes!
                </p>
                </div>
                </div>
                <div class="reply-btn">
                <a href="" class="btn-reply text-uppercase">reply</a>
                </div>
                </div>
                </div>
                <div class="comment-list">
                <div class="single-comment justify-content-between d-flex">
                <div class="user justify-content-between d-flex">
                <div class="thumb">
                <img src="~/image/blog/c5.jpg" alt="">
                </div>
                <div class="desc">
                <h5><a href="#">Ina Hayes</a></h5>
                <p class="date">December 4, 2017 at 3:12 pm </p>
                <p class="comment">
                Never say goodbye till the end comes!
                </p>
                </div>
                </div>
                <div class="reply-btn">
                <a href="" class="btn-reply text-uppercase">reply</a>
                </div>
                </div>
                </div>
                </div>
                <div class="comment-form">
                <h4>Hãy để lại bình luận</h4>
                <form>
                <div class="form-group form-inline">
                <div class="form-group col-lg-6 col-md-6 name">
                <input type="text" class="form-control" id="name" placeholder="Nhập tên" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Họ và tên'">
                </div>
                <div class="form-group col-lg-6 col-md-6 email">
                <input type="email" class="form-control" id="email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Địa chỉ Email'">
                </div>
                </div>
                <div class="form-group">
                <input type="text" class="form-control" id="phone" placeholder="Số điện thoại" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Số điện thoại'">
                </div>
                <div class="form-group">
                <textarea class="form-control mb-10" rows="5" name="message" placeholder="Để lại lời nhắn" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Lời nhắn'" required=""></textarea>
                </div>
                <a href="#" class="primary-btn button_hover">Đăng bình luận</a>
                </form>
                </div> *@
            </div>
            @* <div class="col-lg-4">
            <div class="blog_right_sidebar">
            <aside class="single_sidebar_widget search_widget">
            <div class="input-group">
            <input type="text" class="form-control" placeholder="Tìm kiếm tin tức">
            <span class="input-group-btn">
            <button class="btn btn-default" type="button"><i class="lnr lnr-magnifier"></i></button>
            </span>
            </div><!-- /input-group -->
            <div class="br"></div>
            </aside>
            <aside class="single_sidebar_widget author_widget">
            <img class="author_img rounded-circle" src="~/image/blog/author.png" alt="">
            <h4>BOOKING HOTEL 247</h4>
            <p>Dịch vụ đặt phòng khách sạn nhanh nhất hiện nay</p>
            <div class="social_icon">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>
            <a href="#"><i class="fa fa-behance"></i></a>
            </div>
            <label>Mọi thắc mắc của quý khách</label>
            Xin vui lòng liên hệ :<a href="tel:18009090">1800 9090</a></span>
            <div class="br"></div>
            </aside>
            <aside class="single_sidebar_widget popular_post_widget">
            <h3 class="widget_title">Combo Khách sạn ưu đãi</h3>
            <div class="media post_item">
            <img src="~/image/blog/post1.jpg" alt="post">
            <div class="media-body">
            <a href="#">
            <h3>
            Combo Vé máy bay / Xe giường nằm + khách sạn Sapa
            </h3>
            </a>
            <p style="color:red"><strong>Từ 3,388,000đ</strong></p>
            </div>
            </div>
            <div class="media post_item">
            <img src="~/image/blog/post1.jpg" alt="post">
            <div class="media-body">
            <a href="#">
            <h3>
            Combo Vé máy bay / Xe giường nằm + khách sạn Sapa
            </h3>
            </a>
            <p style="color:red"><strong>Từ 3,388,000đ</strong></p>
            </div>
            </div>
            <div class="media post_item">
            <img src="~/image/blog/post1.jpg" alt="post">
            <div class="media-body">
            <a href="#">
            <h3>
            Combo Vé máy bay / Xe giường nằm + khách sạn Sapa
            </h3>
            </a>
            <p style="color:red"><strong>Từ 3,388,000đ</strong></p>
            </div>
            </div>
            <div class="media post_item">
            <img src="~/image/blog/post1.jpg" alt="post">
            <div class="media-body">
            <a href="#">
            <h3>
            Combo Vé máy bay / Xe giường nằm + khách sạn Sapa
            </h3>
            </a>
            <p style="color:red"><strong>Từ 3,388,000đ</strong></p>
            </div>
            </div>
            <div class="br"></div>
            </aside>
            <aside class="single_sidebar_widget ads_widget">
            <a href="#"><img class="img-fluid" src="~/image/blog/add.jpg" alt=""></a>
            <div class="br"></div>
            </aside>
            <aside class="single_sidebar_widget post_category_widget">
            <h4 class="widget_title">Post Catgories</h4>
            <ul class="list_style cat-list">
            <li>
            <a href="#" class="d-flex justify-content-between">
            <p>Technology</p>
            <p>37</p>
            </a>
            </li>
            <li>
            <a href="#" class="d-flex justify-content-between">
            <p>Lifestyle</p>
            <p>24</p>
            </a>
            </li>
            <li>
            <a href="#" class="d-flex justify-content-between">
            <p>Fashion</p>
            <p>59</p>
            </a>
            </li>
            <li>
            <a href="#" class="d-flex justify-content-between">
            <p>Art</p>
            <p>29</p>
            </a>
            </li>
            <li>
            <a href="#" class="d-flex justify-content-between">
            <p>Food</p>
            <p>15</p>
            </a>
            </li>
            <li>
            <a href="#" class="d-flex justify-content-between">
            <p>Architecture</p>
            <p>09</p>
            </a>
            </li>
            <li>
            <a href="#" class="d-flex justify-content-between">
            <p>Adventure</p>
            <p>44</p>
            </a>
            </li>
            </ul>
            <div class="br"></div>
            </aside>
            <aside class="single-sidebar-widget newsletter_widget">
            <h4 class="widget_title">Newsletter</h4>
            <p>
            Here, I focus on a range of items and features that we use in life without
            giving them a second thought.
            </p>
            <div class="form-group d-flex flex-row">
            <div class="input-group">
            <div class="input-group-prepend">
            <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></div>
            </div>
            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email'">
            </div>
            <a href="#" class="bbtns">Subcribe</a>
            </div>
            <p class="text-bottom">You can unsubscribe at any time</p>
            <div class="br"></div>
            </aside>
            <aside class="single-sidebar-widget tag_cloud_widget">
            <h4 class="widget_title">Tag Clouds</h4>
            <ul class="list_style">
            <li><a href="#">Technology</a></li>
            <li><a href="#">Fashion</a></li>
            <li><a href="#">Architecture</a></li>
            <li><a href="#">Fashion</a></li>
            <li><a href="#">Food</a></li>
            <li><a href="#">Technology</a></li>
            <li><a href="#">Lifestyle</a></li>
            <li><a href="#">Art</a></li>
            <li><a href="#">Adventure</a></li>
            <li><a href="#">Food</a></li>
            <li><a href="#">Lifestyle</a></li>
            <li><a href="#">Adventure</a></li>
            </ul>
            </aside>
            </div>
            </div> *@
        </div>
    </div>
</section>
<!--================Blog Area =================-->
<!--================Blog Area =================-->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="~/js/jquery-3.2.1.min.js"></script>
<script src="~/js/popper.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="~/js/jquery.ajaxchimp.min.js"></script>
<script src="~/js/mail-script.js"></script>
<script src="~/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js"></script>
<script src="~/vendors/nice-select/js/jquery.nice-select.js"></script>
<script src="~/js/mail-script.js"></script>
<script src="~/js/stellar.js"></script>
<script src="~/vendors/lightbox/simpleLightbox.min.js"></script>
<script src="~/js/custom.js"></script>