@model DataAccess.Models.ProfileView;
@{
    Layout = "_AdminLayout";
}
@section css{
    <link href="~/Admin/plugins/dropify/dropify.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Admin/css/users/user-profile.css" rel="stylesheet" type="text/css" />
    <link href="~/Admin/css/forms/switches.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Admin/plugins/multi-select/css/multi-select.min.css">
        }
@section scripts {
<script src="~/Admin/plugins/multi-select/js/jquery.multi-select.min.js"></script>
<script src="~/Admin/plugins/sweetalert/sweetalert2.js"></script>
<script src="~/Admin/dist/js/account/userdetail.js"></script>
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="page-header">
        <div class="page-title">
            <h3>Thông Tin User @Model.UserName</h3>
        </div>
        <nav class="breadcrumb-one" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="javascript:void(0);">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24"
                             height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                             stroke-linecap="round" stroke-linejoin="round" class="feather feather-home">
                            <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                            <polyline points="9 22 9 12 15 12 15 22"></polyline>
                        </svg>
                    </a>
                </li>
                <li class="breadcrumb-item"><a href="/User">Quản Lý User</a></li>
                <li class="breadcrumb-item active" aria-current="page"><span>Thông Tin User</span></li>
            </ol>
        </nav>
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="modal fade bs-example-modal-lg" id="myModal2" role="dialog"></div>
                <div class="col-xl-4 col-lg-6 col-md-5 col-sm-12 layout-top-spacing">
                    <div class="user-profile layout-spacing">
                        <div class="widget-content widget-content-area">
                            <div class="d-flex justify-content-between">
                                <h3 class="">Thông Tin</h3>
                                <a href="" class="mt-2 edit-profile">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                         class="feather feather-edit-3">
                                        <path d="M12 20h9"></path>
                                        <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path>
                                    </svg>
                                </a>
                            </div>
                            <div class="text-center user-info">
                                <img src="@(string.IsNullOrEmpty(Model.AvatarImage) ? "/Avatar/f525ce87-4cfd-40e1-954c-bb256d203e04.png": @Model.AvatarImage)"
                                     alt="avatar" width="120px" height="120px">
                                <p class="">@Model.FullName</p>
                            </div>
                            <div class="text-center user-info-list">
                                <div class="">
                                    <ul class="contacts-block list-unstyled">
                                        <li class="contacts-block__item">
                                            <a href="mailto:" @Model.PhoneNumber><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-phone"><path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path></svg> @Model.PhoneNumber</a>
                                        </li>
                                        <li class="contacts-block__item">
                                            <a href="mailto:" @Model.Email><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>@Model.Email</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="text-center mt-2">
                                    <form id="resetpassword">
                                        @* <input type="hidden" value="@Model.Id" id="userId" name="userId"> *@
                                        <button class="btn btn-success" type="button" id="btnResetPassword">
                                            Reset Mật Khẩu
                                        </button>
                                        <button class="btn btn-info" type="button" id="btnUnlock">
                                            Unlock User
                                        </button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-6 col-md-7 col-sm-12 layout-top-spacing">
                    <div class="card">
                        <div class="card-body">
                            <div class="tab-struct custom-tab-1">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item">
                                        <a href="#profile" data-toggle="tab" aria-expanded="false" class="nav-link active">
                                            <span class="d-block d-sm-none"><i class="far fa-home"></i></span>
                                            <span class="d-none d-sm-block">Thông Tin</span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div id="profile" class="tab-pane fade show active" role="tabpanel">
                                        <form action="#" method="POST">
                                            <div class="form-body">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label mb-2" asp-for="UserName">
                                                                Tên Truy
                                                                Cập
                                                            </label>
                                                            <input id="Id" type="hidden" class="form-control" asp-for="Id"
                                                                   value="@Model.Id">
                                                            <input type="text" asp-for="UserName" class="form-control"
                                                                   value="@Model.UserName">
                                                            <span asp-validation-for="UserName" class="text-warning"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label mb-2" asp-for="FullName">Họ Tên</label>
                                                            <input type="text" asp-for="FullName" class="form-control"
                                                                   value="@Model.FullName">
                                                            <span asp-validation-for="FullName" class="text-warning"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label mb-2" asp-for="Email">Email</label>
                                                            <input type="email" class="form-control" asp-for="Email"
                                                                   value="@Model.Email">
                                                            <span asp-validation-for="Email" class="text-warning"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label mb-2" asp-for="PhoneNumber">
                                                                Số Điện Thoại
                                                            </label>
                                                            <input type="text" class="form-control" asp-for="PhoneNumber"
                                                                   value="@Model.PhoneNumber">
                                                            <span asp-validation-for="PhoneNumber" class="text-warning"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label mb-2" asp-for="NationId">CMND</label>
                                                            <input type="text" class="form-control" asp-for="NationId"
                                                                   value="@Model.NationId">
                                                            <span asp-validation-for="NationId" class="text-warning"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label mb-2" asp-for="RoleId">Quyền</label>
                                                            <select class="selectpicker form-control" asp-for="RoleId"
                                                                    asp-items="ViewBag.RoleName">
                                                                <option value="">Chọn Quyền</option>
                                                            </select>
                                                            <span asp-validation-for="RoleId" class="text-warning"></span>
                                                        </div>
                                                    </div> 
                                                    <div class="col-md-3">
                                                        <label class="control-label mb-2" asp-for="Active">Active/Inactive</label>
                                                        <div class="input-group">
                                                            <label asp-for="Active"
                                                                   class="switch s-icons s-outline s-outline-success">
                                                                <input type="checkbox" asp-for="Active" checked="@Model.Active">
                                                                <span class="slider round"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <input type="submit" asp-action="Update" asp-controller="User"
                                                       class="btn btn-primary" value="Lưu"></input>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->







